.controls {
  padding: 10px;
  width: 40%;
  margin: 0 auto;
}

.controls button {
  margin: 0 auto;
  display: block;
}

.timers {
  padding: 10px;
  width: 40%;
  margin: 0 auto;
}

.timers button {
  margin: 0 auto;
  display: block;
}

.types {
  padding: 10px;
  width: 39%;
  margin: 0 auto;
}

.types button {
  margin: 0 auto;
  display: block;
  width: 39%;
}

#fourOptions {
  display: none;
}

#threeOptions {
  display: none;
}

.options {
  padding: 10px;
  width: 40%;
  margin: 0 auto;
}

.options button {
  margin: 0 auto;
  display: block;
  width: 43.5%;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .controls {
    width: 100%;
  }

  .controls button {
    width: 17.5%;
  }

  .controls button span {
    display: none;
  }

  .timers {
    width: 100%;
  }

  .timers button {
    width: 17.5%;
  }

  .options {
    width: 100%;
  }

  .options button {
    width: 35%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .controls {
    width: 75%;
  }

  .timers {
    width: 75%;
  }

  .options {
    width: 75%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .controls {
    width: 55%;
  }

  .timers {
    width: 55%;
  }

  .options {
    width: 55%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
