.nav-pills .pill .nav-link:not(.active) {
  color: #1d2124;
  background-color: transparent;
}

.nav-pills .pill .nav-link {
  color: #fff;
  background-color: #1d2124;
}

.nav-pills > li {
    float: none;
    display: inline-block;
}

.breadcrumb .breadcrumb-item a {
  color: #1d2124;
}

.controls {
  padding: 10px;
  margin: 0 auto;
}

.controls button {
  margin: 0 auto;
  display: block;
}

.timers {
  padding: 10px;
  margin: 0 auto;
}

.timers button {
  margin: 0 auto;
  display: block;
}

.types {
  padding: 10px;
  margin: 0 auto;
}

.types button {
  margin: 0 auto;
  display: block;
}

#divCuatroOp {
  display: none;
}

#divCuatroOp button {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

#divTresOp {
  display: none;
}

#divTresOp button {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.options {
  padding: 10px;
  margin: 0 auto;
}

.options button {
  margin: 0 auto;
  display: block;
}

#divSolucion {
  display: none;
}

.solution {
  padding: 10px;
  margin: 0 auto;
}

.solution button {
  margin: 0 auto;
  display: block;
}

.entradillas {
  padding: 10px;
  margin: 0 auto;
  width: 35%;
}

.entradillas button {
  margin: 0 auto;
  display: block;
}

.turnos {
  padding: 10px;
  margin: 0 auto;
  width: 82%;
}

.puntuaciones {
  padding: 10px;
  margin: 0 auto;
}

.puntuaciones button {
  margin: 0 auto;
  display: block;
}

.pushbuttons {
  padding: 10px;
  margin: 0 auto;
}

.pushbuttons button {
  margin: 0 auto;
  display: block;
}

.points {
  padding: 10px;
  margin: 10px auto;
  background-color: #f8f9fa;
  border-radius: .25rem;
}

.points button {
  margin: 0 auto;
  display: block;
}

.reset {
  padding: 10px;
  margin: 0 auto;
}

.reset button {
  margin: 0 auto;
  display: block;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .controls {
    width: 100%;
  }

  .controls button {
    width: 27%;
  }

  .controls button span {
    display: none;
  }

  .timers {
    width: 100%;
  }

  .timers button {
    width: 27%;
  }

  .types {
    width: 100%;
  }

  .types button {
    width: 44%;
  }

  .options {
    width: 100%;
  }

  .options button {
    width: 44%;
  }

  .points {
    width: 45%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .controls {
    width: 100%;
  }

  .controls button{
    width: 30%;
  }

  .timers {
    width: 100%;
  }

  .timers button {
    width: 30%;
  }

  .types {
    width: 100%;
  }

  .types button {
    width: 45%
  }

  .options {
    width: 100%;
  }

  .options button {
    width: 45%;
  }

  .points {
    width: 45%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .controls {
    width: 100%;
  }

  .controls button{
    width: 30%;
  }

  .timers {
    width: 100%;
  }

  .timers button {
    width: 30%;
  }

  .types {
    width: 100%;
  }

  .types button {
    width: 45%;
  }

  .options {
    width: 100%;
  }

  .options button {
    width: 45%;
  }

  .points {
    width: 95%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .controls {
    width: 80%;
  }

  .controls button{
    width: 31%;
  }

  .timers {
    width: 80%;
  }

  .timers button {
    width: 30%;
  }

  .types {
    width: 80%;
  }

  .types button {
    width: 45%;
  }

  .options {
    width: 80%;
  }

  .options button {
    width: 45%;
  }

  .points {
    width: 60%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .controls {
    width: 70%;
  }

  .controls button {
    width: 28.5%;
  }

  .timers {
    width: 70%;
  }

  .timers button {
    width: 27.5%;
  }

  .types {
    width: 70%;
  }

  .types button {
    width: 45%;
  }

  .options {
    width: 70%;
  }

  .options button {
    width: 45%;
  }

  .points {
    width: 50%;
  }
}
