@font-face {
    font-family: 'SansBeamHead';
    src: url('../fonts/Stawix%20-%20SansBeamHead-Regular.otf') format('opentype');
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-color: #00ff00;
}

.fullscreen-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#timer {
  font-size: 3.5pc;
  font-family: 'SansBeamHead', Fallback, sans-serif;
  display: none;
  position: absolute;
  top: 3%;
  right: 3%;
}

#selec14 {
  display: none;
  position: absolute;
  top: 76%;
  left: 1.75%;
  width: 47%;
}

#selec24 {
  display: none;
  position: absolute;
  top: 76%;
  right: 1.75%;
  width: 47%;
}

#selec34 {
  display: none;
  position: absolute;
  bottom: 0%;
  left: 1.75%;
  width: 47%;
}

#selec44 {
  display: none;
  position: absolute;
  bottom: 0%;
  right: 1.75%;
  width: 47%;
}

#selec13 {
  display: none;
  position: absolute;
  bottom: 0%;
  left: 1.75%;
  width: 31.3%;
}

#selec23 {
  display: none;
  position: absolute;
  left: 34.35%;
  bottom: 0%;
  width: 31.3%;
}

#selec33 {
  display: none;
  position: absolute;
  bottom: 0%;
  right: 1.75%;
  width: 31.3%;
}
