@font-face {
  font-family: 'Archivo Narrow';
  src: url('../fonts/ArchivoNarrow-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/YanoneKaffeesatz-Regular.ttf') format('truetype');
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-color: black;
}

.fullscreen-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#spanTempo {
  display: none;
  font-family: 'Archivo Narrow', Fallback, sans-serif;
  font-size: 2.75pc;
  position: absolute;
  top: 8.5%;
  right: 5.5%;
}

.opt14h {
  position: absolute;
  top: 64.8%;
  left: 15.4%;
  width: 34.3%;
  height: 11.5%;
}

.opt24h {
  position: absolute;
  top: 80%;
  left: 15.4%;
  width: 34.3%;
  height: 11.5%;
}

.opt34h {
  position: absolute;
  top: 64.8%;
  left: 58%;
  width: 34.3%;
  height: 11.5%;
}

.opt44h {
  position: absolute;
  top: 80%;
  left: 58%;
  width: 34.3%;
  height: 11.5%;
}

.opt14v {
  position: absolute;
  top: 45%;
  left: 67.75%;
  width: 28%;
  height: 9.25%;
}

.opt24v {
  position: absolute;
  top: 57.6%;
  left: 67.75%;
  width: 28%;
  height: 9.25%;
}

.opt34v {
  position: absolute;
  top: 70%;
  left: 67.75%;
  width: 28%;
  height: 9.25%;
}

.opt44v {
  position: absolute;
  top: 82.4%;
  left: 67.75%;
  width: 28%;
  height: 9.25%;
}

.opt13 {
  position: absolute;
  top: 82.4%;
  left: 6.7%;
  width: 25.7%;
  height: 8.6%;
}

.opt23 {
  position: absolute;
  top: 82.4%;
  left: 39.8%;
  width: 25.7%;
  height: 8.6%;
}

.opt33 {
  position: absolute;
  top: 82.4%;
  left: 72.7%;
  width: 25.7%;
  height: 8.6%;
}

.teamA {
  position: absolute;
  bottom: 0%;
  left: 1.75%;
  width: 7.25%;
}

.teamB {
  position: absolute;
  left: 34.5%;
  bottom: 0%;
  width: 7.25%;
}

.teamC {
  position: absolute;
  bottom: 0%;
  left: 67.25%;
  width: 7.25%;
}

#spanAliasA {
  display: none;
  font-family: 'Archivo Narrow', Fallback, sans-serif;
  font-size: 2pc;
  position: absolute;
  top: 8.5%;
  left: 6%;
}

#spanScoreA {
  display: none;
  font-family: 'Archivo Narrow', Fallback, sans-serif;
  font-size: 2.5pc;
  position: absolute;
  top: 8%;
  right: 78%;
}

#spanAliasB {
  display: none;
  font-family: 'Archivo Narrow', Fallback, sans-serif;
  font-size: 2pc;
  position: absolute;
  top: 8.5%;
  left: 27%;
}

#spanScoreB {
  display: none;
  font-family: 'Archivo Narrow', Fallback, sans-serif;
  font-size: 2.5pc;
  position: absolute;
  top: 8%;
  right: 57%;
}

#spanAliasC {
  display: none;
  font-family: 'Archivo Narrow', Fallback, sans-serif;
  font-size: 2pc;
  position: absolute;
  top: 8.5%;
  left: 48%;
}

#spanScoreC {
  display: none;
  font-family: 'Archivo Narrow', Fallback, sans-serif;
  font-size: 2.5pc;
  position: absolute;
  top: 8%;
  right: 36.5%;
}

#spanAlias1 {
  display: none;
  font-family: 'Yanone Kaffeesatz', Fallback, sans-serif;
  font-size: 5.5pc;
  color: #ffc502;
  position: absolute;
  top: 22%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

#spanScore1 {
  display: none;
  font-family: 'Yanone Kaffeesatz', Fallback, sans-serif;
  font-size: 4.5pc;
  color: #dcdbdc;
  position: absolute;
  top: 34%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

#spanAlias2 {
  display: none;
  font-family: 'Yanone Kaffeesatz', Fallback, sans-serif;
  font-size: 5.5pc;
  color: #ffc502;
  position: absolute;
  top: 32%;
  left: 18.5%;
}

#spanScore2 {
  display: none;
  font-family: 'Yanone Kaffeesatz', Fallback, sans-serif;
  font-size: 4.5pc;
  color: #dcdbdc;
  position: absolute;
  top: 44%;
  left: 18.5%;
}

#spanAlias3 {
  display: none;
  font-family: 'Yanone Kaffeesatz', Fallback, sans-serif;
  font-size: 5.5pc;
  color: #ffc502;
  position: absolute;
  top: 39%;
  right: 18.5%;
}

#spanScore3 {
  display: none;
  font-family: 'Yanone Kaffeesatz', Fallback, sans-serif;
  font-size: 4.5pc;
  color: #dcdbdc;
  position: absolute;
  top: 51%;
  right: 18.5%;
}
