@font-face {
  font-family: 'Archivo Narrow';
  src: url('../fonts/ArchivoNarrow-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: #1f1d21;
  font-family: 'Archivo Narrow', Fallback, sans-serif;
}

h1 {
  color: #EFD128;
  font-size: 12.5rem;
}

h2 {
  color: white;
  font-size: 32.5rem;
  font-weight: bold;
}

.row-md-4 {
  height: 33.33vh;
}

.row-md-8 {
  height: 66.66vh;
}

h1.h-center, h2.h-center {
  text-align: center;
}

img.h-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
