@font-face {
  font-family: 'SansBeamHead';
  src: url('../fonts/Stawix%20-%20SansBeamHead-Regular.otf') format('opentype');
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-color: black;
}

.fullscreen-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

span {
  font-size: 3.5pc;
  font-family: 'SansBeamHead', Fallback, sans-serif;
}

#spanTempo {
  display: none;
  position: absolute;
  top: 3%;
  right: 3%;
}

#spanContra {
  display: none;
  position: absolute;
  top: 3%;
  right: 3%;
}

#imgSelec14 {
  display: none;
  position: absolute;
  top: 76%;
  left: 1.75%;
  width: 47%;
}

#imgSelec24 {
  display: none;
  position: absolute;
  top: 76%;
  right: 1.75%;
  width: 47%;
}

#imgSelec34 {
  display: none;
  position: absolute;
  bottom: 0%;
  left: 1.75%;
  width: 47%;
}

#imgSelec44 {
  display: none;
  position: absolute;
  bottom: 0%;
  right: 1.75%;
  width: 47%;
}

#imgSelec13 {
  display: none;
  position: absolute;
  bottom: 0%;
  left: 1.75%;
  width: 31.3%;
}

#imgSelec23 {
  display: none;
  position: absolute;
  left: 34.35%;
  bottom: 0%;
  width: 31.3%;
}

#imgSelec33 {
  display: none;
  position: absolute;
  bottom: 0%;
  right: 1.75%;
  width: 31.3%;
}

.teamA {
  position: absolute;
  bottom: 0%;
  left: 1.75%;
  width: 7.25%;
}

.teamB {
  position: absolute;
  left: 34.5%;
  bottom: 0%;
  width: 7.25%;
}

.teamC {
  position: absolute;
  bottom: 0%;
  left: 67.25%;
  width: 7.25%;
}

#spanAliasA {
  display: none;
  position: absolute;
  bottom: 16%;
  left: 16.5%;
}

#spanScoreA {
  display: none;
  position: absolute;
  bottom: 2.5%;
  left: 19.5%;
}

#spanAliasB {
  display: none;
  position: absolute;
  bottom: 16%;
  left: 50%;
}

#spanScoreB {
  display: none;
  position: absolute;
  bottom: 2.5%;
  left: 53%;
}

#spanAliasC {
  display: none;
  position: absolute;
  bottom: 16%;
  left: 83%;
}

#spanScoreC {
  display: none;
  position: absolute;
  bottom: 2.5%;
  left: 86%;
}
